<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-7" style="padding-left: 50px;">

            <div class="image-container">
                <img [src]="project?.additionalImage" class="img-fluid" alt="Additional Image">
            </div>
        </div>

        <div class="col-lg-5 mt-5">
            <div class="d-flex flex-column justify-content-center">
                <h3 class="project-title">{{project?.name}}</h3>
                <h3 (click)="navHome()" class="project-season h-100 cursor-pointer"> [home] </h3>
                <p class="project-blurb h-100">{{project?.description}}</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
