<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7" style="padding-left: 50px;">
            <!-- Main Image -->
            <div class="image-container">
                <img [src]="project?.additionalImage" class="img-fluid" alt="Additional Image">
            </div>
        </div>

        <div class="col-lg-5 mt-5">
            <div class="d-flex flex-column justify-content-center">
                <h3 class="project-title">{{ project?.name }}</h3>
                <h3 (click)="navHome()" class="project-season cursor-pointer">[home]</h3>
                <p class="project-blurb">{{ project?.description }}</p>
            </div>
        </div>
    </div>

    <!-- Additional Images Section -->
    <div class="row additional-images mt-5">
        <div class="col-12  d-flex justify-content-end align-items-center">


            <div class="more-images-container">
                <img [src]="project?.image" class="img-fluid mb-4" alt="Additional Image 1">
                <img [src]="project?.additionalImage" class="img-fluid mb-4" alt="Additional Image 2">
                <!-- Add more images as necessary -->



            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>