<body>
    <header class="vh-100 d-flex flex-column justify-content-end position-relative overflow-hidden">
        <nav class="circle-nav">
            <a href="/" class="nav-circle">Home</a>
            <div class="nav-circle"></div>
        </nav>
        <nav class="circle-nav-right">
            <a href="/" class="nav-circle-right">Link</a>
            <div class="nav-circle-right"></div>
        </nav>
        <div 
            class="w-100 position-absolute about-bg"></div>
        <div class="position-absolute top-0 start-0 end-0 bottom-0 bg-dark opacity-50"></div>
        <div class="container position-relative p-0">
            <div class="row">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <h1 class="title1 m-0">Numbered</h1>
                    <h2 class="title2 m-0">Company</h2>
                </div>
                <div class="copy1 col-md-6 text-md-end d-none d-md-block">
                    <!-- body copy here somedasy -->
                </div>
            </div>
        </div>
    </header>

    <section class="full-viewport-background second-background" id="more-info">
        <footer class="" id="about">
            <div class="footer-content">
                <h2>metal fabrication</h2>
            </div>
        </footer>
    </section>


    <section class="full-viewport-background" id="about">
        <footer class="full-viewport-background" id="about">
            <div class="footer-content">
                <h2>industrial design</h2>
            </div>
        </footer>
    </section>


    <section class="full-viewport-background" id="about">
        <footer class="full-viewport-background fourth-background" id="about">
            <div class="footer-content">
                <h2>retail merch</h2>
            </div>
        </footer>
    </section>

    <section class="full-viewport-background" id="about">
        <footer class="full-viewport-background fifth-background" id="about">
            <div class="footer-content">
                <h2>sculpture</h2>
            </div>
        </footer>
    </section>

    <section class="full-viewport-background third-background" id="about">
        <div class="nocoBio">
            <p class="">Numbered Company is a Toronto based, queer owned + operated industrial design studio, shipping and working internationally since 2014. Specializing in retail merchandizing, custom metal fabrication, and industrial services including structural welding services. </p>

        </div>

  


    </section>



</body>