<body>
    <header class="vh-100 d-flex flex-column justify-content-end position-relative overflow-hidden">
        <nav class="circle-nav">
            <a href="/" class="nav-circle">Home</a>
            <div class="nav-circle"></div>
        </nav>
        <nav class="circle-nav-right">
            <a href="/" class="nav-circle-right">Link</a>
            <div class="nav-circle-right"></div>
        </nav>
        <div style="background-image: url('/assets/prince2.jpg'); height: 100%; background-size: cover; background-position: center;"
            class="w-100 position-absolute"></div>
        <div class="position-absolute top-0 start-0 end-0 bottom-0 bg-dark opacity-50"></div>
        <div class="container position-relative p-0">
            <div class="row">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <h1 class="title1 m-0">Numbered</h1>
                    <h2 class="title2 m-0">Company</h2>
                </div>
                <div class="copy1 col-md-6 text-md-end d-none d-md-block">
                    <!-- body copy here somedasy -->
                </div>
            </div>npm star
        </div>
    </header>

    <section class="full-viewport-background second-background" id="more-info">
        <div class="container-fluid py-5">
            <div class="row g-0 justify-content-between">
                <div class="col">
                    <div class="card border-card" style="font-size: 80px; color: #C43E65;">
                        20 <br>14
                    </div>
                </div>
                <div class="col">
                    <div class="card border-card" style="font-size: 80px; color: #C43E65;">
                        20 <br>18
                    </div>
                </div>
                <div class="col">
                    <div class="card border-card" style="font-size: 80px; color: #C43E65;">
                        20 <br>20
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="full-viewport-background" id="about">
        <footer class="full-viewport-background" id="about">
            <div class="footer-content">
                <h2>industrial design</h2>
            </div>
        </footer>


    </section>

    <section class="full-viewport-background third-background" id="about">
        <nav class="custom-navbar">
            <ul class="nav-list">
                <li class="nav-item"><a href="#collections">Collections</a></li>
                <li class="nav-item"><a href="#story">Story</a></li>
                <li class="nav-item"><a href="#philosophy">Philosophy</a></li>
                <li class="nav-item"><a href="#inventory">Inventory</a></li>
            </ul>
        </nav>
  


    </section>



</body>